.bx {
    font-size: 1.2rem;
    cursor: pointer;
}

.edit-icon {
    color: #a9dfe2;
}

.trash-icon {
    color: #fdb3ca;
}

.container-button {
    width: 4rem;
    height: 4rem;
}

.button-adicionar {
    border-radius: 50%;
    background-color: #a9dfe2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-noticias {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
