.container-tag {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.body-tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;
}

.container-button {
    width: 4rem;
    height: 4rem;
}

.button-adicionar {
    border-radius: 50%;
    background-color: #a9dfe2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}