@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="home-content m-4">
    <i class='bx bx-news'></i>
    <p>Notícias</p>
</div>